 body{
  margin: 0px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  overflow-y: hidden;
}

.navBar {
  display: flex;
  padding-bottom: 20px;
  background-color: #71c1d4;
}

.page {
  height: 22px;

  padding-top: 10px;
  padding-left: 120px;
  text-transform: uppercase;
  border-bottom : 1px solid transparent;
  transition: border-bottom 0.5s;
}

.page1 {
  padding-top: 10px;
  padding-left: 5px;
  text-transform: uppercase;
  height: 22px;

  border-bottom : 1px solid transparent;
  transition: border-bottom 0.5s;
}


.page a{
  color: #8a8a8a;
  text-decoration: none;
  transition : color 0.5s;
}
.page1 a{
  color: #8a8a8a;
  text-decoration: none;
  transition : color 0.5s;
}

.page :hover{
  border-bottom: 1px solid black;

}

.page1 :hover{
  border-bottom: 1px solid black;

}

.page a:hover{
  color: black;

}

.page1 a:hover{
  color: black;

}




.carView{
  height: 85vh;
  width: 150vh;
  margin: 2rem auto;
  background: url("../assets/assets/Img_1.png");
  background-size: cover;
  position: relative;
  box-shadow: 1px 2px 60px rgba(0,0,0,4);
  overflow-x: hidden;
  padding-top: 20px;

}

.currentDestination{
  margin: 0;
  text-align: center;
  font-size: 40px;
  font-style: oblique;
}


/* Car styling */

.carHighWay{
  height: 140px;
  width: 500%;
  background: url("../assets/assets/Img_02.png");
  display: block;
  position: absolute;
  bottom: 0%;
  left: 0%;
  background-repeat: repeat-x;
}

.car{
  position: absolute;
  bottom: 5%;
  left: 20%;
}

/* animation */
@keyframes moveRight {
  100%{transform: translateX(-2950px);}
  
}

@keyframes susp {
  100%{transform: translateY(-1px);}
  50%{transform: translateY(2px);}
  0%{transform: translateY(-1px);}
  
}


.moveRight{
  animation: moveRight 6s linear infinite;
}

.susp{
  animation: susp 1s linear infinite;
}
